#root {
  width: 100%;
}

td {
  vertical-align: top;
}

th {
  text-align: center !important;
}

.table-invoice .ant-pagination .ant-pagination-item {
  background-color: #f6f7f9 !important;
}

.table-invoice .ant-pagination .ant-pagination-item-active a {
  color: #fff !important;
}

.table-invoice .ant-pagination .ant-pagination-item-active {
  background-color: var(--primary-color) !important;
}

.ant-pagination .ant-pagination-item-active {
  border-color: var(--primary-color) !important;
}
