@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:var(--body-large-regular-font-weight),600,var(--body-small-regular-font-weight),var(--heading-h4-font-weight),var(--body-large-medium-font-weight),var(--caption-small-medium-font-weight),var(--body-medium-medium-font-weight),var(--body-medium-regular-font-weight)");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-color: #de3f0f;
  --gray-color: #bdbdbf;
  --black-color: #000;
  --infor-color: #38a4dd;
  --success-color: #4caf4e;
  --warning-color: #f9bf2c;
  --error-color: #ef5451;

  --body-large-medium-font-family: "Nunito Sans", Helvetica;
  --body-large-medium-font-size: 16px;
  --body-large-medium-font-style: normal;
  --body-large-medium-font-weight: 600;
  --body-large-medium-letter-spacing: 0px;
  --body-large-medium-line-height: 24px;
  --body-large-regular-font-family: "Nunito Sans", Helvetica;
  --body-large-regular-font-size: 16px;
  --body-large-regular-font-style: normal;
  --body-large-regular-font-weight: 400;
  --body-large-regular-letter-spacing: 0px;
  --body-large-regular-line-height: 24px;
  --body-medium-medium-font-family: "Nunito Sans", Helvetica;
  --body-medium-medium-font-size: 14px;
  --body-medium-medium-font-style: normal;
  --body-medium-medium-font-weight: 600;
  --body-medium-medium-letter-spacing: 0px;
  --body-medium-medium-line-height: 20px;
  --body-medium-regular-font-family: "Nunito Sans", Helvetica;
  --body-medium-regular-font-size: 14px;
  --body-medium-regular-font-style: normal;
  --body-medium-regular-font-weight: 400;
  --body-medium-regular-letter-spacing: 0px;
  --body-medium-regular-line-height: 20px;
  --body-small-regular-font-family: "Nunito Sans", Helvetica;
  --body-small-regular-font-size: 13px;
  --body-small-regular-font-style: normal;
  --body-small-regular-font-weight: 400;
  --body-small-regular-letter-spacing: 0px;
  --body-small-regular-line-height: 20px;
  --caption-small-medium-font-family: "Nunito Sans", Helvetica;
  --caption-small-medium-font-size: 10px;
  --caption-small-medium-font-style: normal;
  --caption-small-medium-font-weight: 400;
  --caption-small-medium-letter-spacing: 0px;
  --caption-small-medium-line-height: 16px;
  --heading-h4-font-family: "Nunito Sans", Helvetica;
  --heading-h4-font-size: 20px;
  --heading-h4-font-style: normal;
  --heading-h4-font-weight: 700;
  --heading-h4-letter-spacing: 0px;
  --heading-h4-line-height: 24px;
  --neutral-200: rgba(230, 230, 232, 1);
  --neutral-50: rgba(246, 247, 249, 1);
  --neutral-800: rgba(52, 52, 54, 1);
  --neutral600-character-secondary: rgba(124, 124, 126, 1);
  --neutral900-character-primary: rgba(30, 30, 30, 1);
  --primary-400: rgba(255, 110, 64, 1);
  --primarymain-800: rgba(222, 63, 15, 1);
  --semanticinfomain-500: rgba(56, 164, 221, 1);
  --semanticsuccess-50: rgba(233, 244, 233, 1);
  --semanticsuccessmain-500: rgba(76, 175, 78, 1);
  --semanticwarningmain-700: rgba(249, 191, 44, 1);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

.hoadon .ant-table-filter-trigger {
  color: #fff !important;
  font-size: 16px;
}

.hoadon .ant-tabs-nav {
  margin: 12px;
}
